.addTaskForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: -1.687rem;
  gap: 0.5rem;
}

.addTaskForm input {
  background: var(--gray-400);
  color: var(--gray-200);
  width: 100%;
  height: 3.375rem;
  border-radius: 8px;
  border: 0;
  padding: 1rem;

}

.addTaskForm button {
  background: var(--blue-dark);
  color: var(--gray-100);
  font-weight: 700;
  line-height: 1.4;
  height: 3.375rem;
  padding: 1rem;
  border-radius: 8px;
  border: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}