.contentItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray-400);
  background: var(--gray-500);
  min-height: 4.5rem;
  border-radius: 8px;
  padding: 0 1rem;
}

.contentItem + .contentItem {
  margin-top: 0.75rem;
}

.buttonCheck {
  background: transparent;
  border: 0;
  border-radius: 2px;
  line-height: 0;
  cursor: pointer;
}

.isChecked {
  background: var(--gray-100);
  color: var(--purple);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: color 0.2s;
}

.isChecked:hover {
  color: var(--purple-dark);
}

.isNotChecked {
  background: transparent;
  color: var(--blue);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: color 0.2s;
}

.isNotChecked:hover {
  color: var(--blue-dark);
}

.buttonTrash{
  background: transparent;
  color: var(--gray-300);
  border: 0;
  border-radius: 2px;
  line-height: 0;
  cursor: pointer;
}

.buttonTrash:hover {
  color: var(--danger);
}

.taskDescription{
  font-size: 0.875rem;
  line-height: 1.4;
  padding: 0 0.75rem;
}

.taskDescriptionDone {
  text-decoration: line-through;
}